.pokePage {
    height: 100%;
    width: 81.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

.pokePage>div {
    background-color: white;
    width: 70%;
    padding: 0 20px;
    min-width: 69.625rem;
}

.pokePage>.info {
    display: flex;
    padding-top: 40px;
    gap: 20px;
}

.pokePage>.vertical {
    width: 60%;
    min-width: 60%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical>.sectionVertical{
    width: 60%;
}

.pokePage>div {
    padding-bottom: 20px;
}

.info>div {
    width: 50%;
}

.info>div>img {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
}

.info>div>p {
    font-size: 20px;
    text-align: start;
}

.info>div>h2 {
    text-align: start;
}

.pokePage>div:last-child {
    display: flex;
    justify-content: end;
}

.pokePage>div>button {
    border-radius: 5px;
    color: white;
    background-color: #EE6B2F;
    transition: all 0.3s
}

.pokePage>div>button:hover {
    background-color: #DA471B;
}

@media screen and (max-width:1321px){
    .pokePage {
        width: 100%;
        min-width: 0px;
    }

    .pokePage>div {
        min-width: 56.875rem;
    }
}

@media screen and (max-width:1024px){
    .pokePage {
        width: 100%;
        min-width: 0px;
    }

    .pokePage>div {
        width: 86%;
        min-width: 86%;
    }
}

@media screen and (max-width:970px){
    .pokePage {
        width: auto;
        min-width: 0px;
    }

    .pokePage>.vertical {
        min-width: 35.75rem;
        padding: 0 30px;
    }

    .pokePage>.info{
        gap: 0px;
    }

    .vertical>p {
        font-size: 20px;
    }

    .pokePage>.exploreVertical{
        width: 60%;
        min-width: 35.75rem;
        padding: 20px 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width:590px){
    .info>img{
        width: 50%;
    }
    .pokePage>.vertical {
        width: 26.563rem;
        min-width: 0px;
        padding: 0 20px;
    }

    .vertical>p {
        font-size: 16px;
    }
    .vertical>.typeweakness{
        width: 96%;
    }

    .vertical>p{
        margin-bottom: 0;
    }

    .pokePage>.exploreVertical{
        width: 26.563rem;
        min-width: 0;
        padding: 20px;
    }
}

@media screen and (max-width:424px){
    .pokePage>.vertical {
        width: 20rem;
        min-width: 0px;
        padding: 0 10px;
    }

    .vertical>p {
        font-size: 14px;
    }

    .pokePage>.exploreVertical{
        width: 20rem;
        min-width: 0;
        padding: 15px 10px;
    }

    .pokePage>.exploreVertical>button{
        font-size: 14px;
    }
}


