.typeweakness{
    width: 100%;
}

.typeweakness>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 30px;
}

.typeweakness>div>span {
    display: block;
    color: white;
    width: 32%;
    height: 34px;
    border-radius: 5px;
    align-content: center;
}

@media screen and (max-width:590px){
    .typeweakness>h2{
        font-size: 22px;
    }

    .typeweakness>div>span {
        height: 26px;
    }
}

@media screen and (max-width:424px){
    .typeweakness>h2{
        font-size: 18px;
    }

    .typeweakness>div>span {
        height: 20px;
        font-size: 12px;
    }
}