.typeweakness{
    width: 100%;
}

.typeweakness>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 30px;
}

.typeweakness>div>span {
    display: block;
    color: white;
    width: 32%;
    height: 34px;
    border-radius: 5px;
    align-content: center;
}