.evolution {
    width: 100%;
    background: white url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    display: flex;
    flex-direction: column;
    padding: 1.5em 1rem 3rem;
    border-radius: 5px;
    position: relative;
    margin-top:20px;
    box-sizing: border-box;
}

.evolution::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid white;
    width: 0;
}

.evolution>h2 {
    color: white;
    align-self: start;
    margin: 0 1em;
}

.evolution ul {
    padding: 0;
}

.evolution>ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: 85%;
    max-width: 80%;
    align-self: center;
}

.evolution>ul>li {
    list-style: none;
    width: 17rem;
    display: flex;
    justify-content: center;
}

.evolution>ul>li>ul {
    width: 100%;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.evolution>ul>li>ul>.pokeIconEvo {
    list-style: none;
    color: white;
    cursor: pointer;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolution>ul>li>ul>.pokeIconEvo>div:first-child {
    width: 100%;
    padding: 5%;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #616161;
    box-sizing: border-box;
    position: relative;
}

.lateStage>ul>.pokeIconEvo>div:first-child::before {
    content: " ";
    z-index: 6;
    display: block;
    position: absolute;
    top: 50%;
    left: -48%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background-size: contain;
    background-image: url('/images/arrow.png');
    margin-left: 10px;
}

.pokeIconEvo{
    text-decoration: none;
}

.pokeIconEvo>div>img {
    display: block;
    background-size: contain;
    width: 100%;
}

.pokeIconEvo>h3 {
    margin: 8px 0;
}

.pokeIconEvo>h3>span {
    color: #A4ACAF;
    margin-left: 5px;
}

.pokeIconEvo>div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pokeIconEvo>div>span{
    display: block;
    width: 3.5rem;
    border-radius: 5px;
    font-size: 14px;
    align-content: center;
}

@media screen and (max-width:1321px){
    .lateStage>ul>.pokeIconEvo>div:first-child::before {
        left: -65%;
    }
}


@media screen and (max-width:970px){
    .evolution>ul {
        flex-direction: column;
        width: 100% !important;
    }

    .evolution>ul>li {
        width: 100%;
    }

    .pokeIconEvo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pokeIconEvo>div {
        width: 100%;
    }

    .lateStage{
        position: relative;
        margin-top: 3rem;
    }

    .lateStage>ul>.pokeIconEvo>div:first-child::before {
        display: none;
    }

    .lateStage::before{
        content: " ";
        z-index: 6;
        display: block;
        position: absolute;
        top: -3.5rem;
        left: 10.5rem;
        width: 32px;
        height: 32px;
        transform: translateY(-50%);
        transform: rotate(90deg);
        background-size: contain;
        background-image: url('/images/arrow.png');
        margin-left: 10px;
    }

    .lateStage>ul{
        display: flex;
        flex-wrap: wrap;
    }

    .evolution>ul>li>ul{
        flex-direction: row;
    }

    .evolution>ul>li>ul>.pokeIconEvo {
        width: 28%;
        min-width: 9rem;
    }
}

@media screen and (max-width:590px){
    .evolution>ul>li {
        width: 100%;
    }

    .lateStage::before{
        left: 7.25rem;
    }

    .evolution>ul>li>ul>.pokeIconEvo {
        width: 28%;
        width: 7.3rem !important;
        min-width: 3rem;
    }

    .evolution>h2 {
        font-size: 22px;
    }

    .pokeIconEvo>h3 {
        font-size: 16px;
    }

    .evolution>ul>li>ul {
        gap: 45px;
    }
}


@media screen and (max-width:424px){
    .evolution>ul {
        gap: 2rem;
    }

    .evolution>h2 {
        font-size: 18px;
    }

    .lateStage::before{
        top: -3.5rem;
        left: 5.25rem;
    }

    .pokeIconEvo>div:last-child{
        width: 7rem;
    }

    .pokeIconEvo>div>span{
        font-size: 12px;
    }

    .pokeIconEvo>h3>span {
        display: none;
    }

    .lateStage>ul{
        display: flex;
        flex-wrap: wrap;
    }

    .evolution>ul>li>ul {
        gap: 35px;
    }

    .evolution>ul>li>ul>.pokeIconEvo {
        width: 35% !important;
        width: 5.25rem !important;
        min-width: 3rem;
    }
}