.stats {
    width: 100%;
    background-color: #A4A4A4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0 20px;
}

.stats>span {
    align-self: start;
    margin-left: 8%;
    margin-bottom: 20px;
}

.stats>div {
    display: flex;
    width: 80%;
    gap: 6px;
}

.stats>div>div {
    width: 100%;
}

.stats>div>div>ul {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0;
    background-color: white;
    overflow: hidden;
}

.stats>div>div>ul>.filler {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #30A7D7;
    transition: all 1s;
}

.stats>div>div>ul>li {
    list-style: none;
    height: 0.5em;
    border-bottom: 0.25em solid #a4a4a4;
    background-color: transparent;
    z-index: 2;
}

.stats>div>div>span {
    display: block;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width:424px){
    .stats>div {
        width: 86.5%;
    }
}